* {
    font-family: "Popins", sans-serif;
    background-color: #f5f0ff;
    list-style: none;
    text-decoration: none;
}

.gap10 {
    gap: 10px;
}

.gap30 {
    gap: 30px;
}

.gap50 {
    gap: 50px;
}

/* Santi start here */

/* Masa start here */

/* ====================================== section-4 =======================================- */

button {
    background-color: #23a6f0 !important;
}

/* ########## */
/* RESPONSIVE */
/* ########## */

/* 639px */
@media screen and (max-width: 639px) {
    /* Santi start here */

    /* Masa start here */
}
