* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  * a {
    text-decoration: none;
  }
  * ul {
    list-style-type: none;
  }
   
  .gap10 {
    gap: 10px;
  }
  
  .gap30 {
    gap: 30px;
  }
  
  .gap50 {
    gap: 50px;
  }
  .colorWhite {
    color: white;
  }
  /* Santi start here */
  .loginButton {
    border: 0;
    background: inherit;  
  }

  .titleLogo {
    font-size: 24px;
    font-weight: 700;
  }

  /* Masa start here */

  
  /* ########## */
  /* RESPONSIVE */
  /* ########## */
  
  /* 639px */
  @media screen and (max-width: 639px) {
  /* Santi start here */



  
  /* Masa start here */

}
  